<div class="container-footer">
    <div class="content-footer">
    <div>
        <h1>Eat Fresh</h1>
    </div>
    </div>
  <div class="container-footer">
    <p>&copy; <span id="date1"></span></p>
    <p>Juliana Lemos</p>
    <p>Weather Data by <a class="open-weather" href="https://openweathermap.org/">Open Weather</a></p>
    <p>Last Updated: <span id="currentdate"></span></p>
  </div>
</div>
<div class="social">
    <a href="https://facebook.com" target="_blank">
        <img src="images/facebook.webp" alt="fb icon">
    </a>
    <a href="https://twitter.com" target="_blank">
        <img src="images/twitter.webp" alt="twitter icon">
    </a>
    <a href="https://instagram.com" target="_blank">
        <img src="images/instagram.webp" alt="instagram icon">
    </a>
</div>