<div>
    <figure class="logo">
      <img src="../images/logo0.webp" alt="Eat Fresh Logo"
      srcset="../images/logo1.webp 1x, ../images/logo2.webp 2x,
      ../images/logo3.webp 3x">
   </figure>
      <section class="headings">
          <h1>Eat Fresh</h1>
      </section>
  </div>
  <nav>
      <button id="hamburgerBtn"><span>&#9776;</span><span>X</span></button>
              <ul id="primaryNav">
                  <li><a href="../../index.html">Home</a></li>
                  <li><a href="../../product-listing/index.html">Products</a></li>
                  <li><a href="../../cart/index.html">Shopping Cart</a></li>
              </ul>
          </nav> 